@import url(//db.onlinewebfonts.com/c/fd131d436dd85453848ae4a84bb466ad?family=Zing+Rust+Demo+Base);
@font-face {
    font-family: "Zing Rust Demo Base";
    src: url("//db.onlinewebfonts.com/t/fd131d436dd85453848ae4a84bb466ad.eot");
    src: url("//db.onlinewebfonts.com/t/fd131d436dd85453848ae4a84bb466ad.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/fd131d436dd85453848ae4a84bb466ad.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/fd131d436dd85453848ae4a84bb466ad.woff") format("woff"), url("//db.onlinewebfonts.com/t/fd131d436dd85453848ae4a84bb466ad.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/fd131d436dd85453848ae4a84bb466ad.svg#Zing Rust Demo Base") format("svg");
}

body {
    font-family: 'Poppins', sans-serif;
}

.dropdown-toggle::after {
    display: none;
}

.mynav {
    margin: 1rem 3rem;
}

.navitems {
    margin-left: 3rem;
}

.navman, .navwoman, .navcontact {
    border-left: 1px solid;
    padding: 0 1rem;
}

.navadmin {
    border-left: 1px solid;
    border-right: 1px solid;
    padding: 0 1rem;
}

.badge {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 15px;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

#lblCartCount {
    font-size: 14px;
    background: #000000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

#search {
    border-radius: 1rem;
    width: 20rem;
}

.carrito {
    font-size: 1.7rem;
    cursor: pointer;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.title {
    text-align: center;
    border-bottom: 1px solid black;
    width: min-content;
    font-size: 8rem;
}

.titleContent {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.line {
    border-bottom: 1px solid black;
    padding: 0 1rem;
    margin: 5rem 0;
}

.man {
    height: 25rem;
    background-image: url('/img/hombre.jpg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.truck, .whatsapp {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.truck i {
    font-size: 6rem;
}

.whatsapp i {
    font-size: 4.6rem;
}

#novedades {
    border-radius: 1rem;
    width: 50rem;
}

.prefooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

#emailbutton {
    width: 8rem;
    align-self: center;
    margin: 2rem 0;
    background-color: black;
    color: white;
    border-radius: 1rem;
    padding: 0.2rem 2rem;
    border-style: none;
    text-align: center;
}

.mybutton {
    width: auto;
    align-self: center;
    background-color: black;
    color: white;
    border-radius: 1rem;
    padding: 0.2rem 2rem;
    border-style: none;
    text-align: center;
}

.mybutton:hover {
    color: white;
}

#contactForm input {
    border-radius: 1rem;
    border: 2px solid black;
}

#userForm input {
    border-radius: 1rem;
    border: 2px solid black;
}

#contactForm textarea {
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: 2px solid black;
}

.footerlinks a {
    text-decoration: none;
    color: black;
}

.footerlinks a:hover {
    font-size: 1.1rem;
}

.footerlinks {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.info div {
    display: flex;
}

.info div i {
    margin-right: 0.3rem;
}

.social i {
    font-size: 2rem;
    margin: 0 1rem;
}

.last-title h4 {
    border-bottom: 1px solid;
    width: min-content;
}

.last-title {
    display: flex;
    justify-content: center;
}

.contactbreadcrumb {
    margin-right: 0.3rem;
    text-decoration: none;
    color: black;
}

.images {
    height: 23rem;
    width: 23rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: white;
}

.container-itemList .card {
    margin: 2% 0% 2% 0%;
}

.container-itemList h1 {
    font-family: 'Zing Rust Demo Base', sans-serif;
}

.container-itemList {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

#carrito-checkout {
    text-align: center;
}

.itemList-product a {
    text-decoration: none;
    color: black;
}

.itemList-product {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
}

.itemList-product__name {
    background: rgb(236, 236, 236);
}

.container-itemDetail__details h1, .container-itemDetail__details p, .container-itemDetail__details span {
    margin: 2rem;
}

.container-itemDetail h1 {
    font-family: 'Zing Rust Demo Base', sans-serif;
}

.container-itemDetail__img {
    width: 90%;
    margin: 2rem;
}

.horizontalLine {
    width: 80%;
    color: black;
    margin: auto;
    margin-top: 2rem;
    border: 1px solid black;
}

.container-itemDetail__related {
    text-align: center;
    margin-top: 2rem;
}

.btn-dark {
    width: 100%;
    margin: 1rem;
    border-radius: 20px;
}

.socialmedia, .iglink {
    text-decoration: none;
    color: black;
}

.socialmedia:hover {
    font-size: 1.1rem;
    color: black;
}

.iglink:hover {
    color: black;
    font-size: 2.2rem;
}

.card-space{
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#dbproducts, #categoriespage{
    border: 0.1rem solid black;
}

.card-space::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    background: rgba(255, 255, 255, 0.342);
    top: -100%;
    transition: 0.4s;
    z-index: 9;
}
  
.card-space:hover::after {
top: 0%;
}

.card-inner {
position: absolute;
bottom: -100%;
transition: 0.4s;
z-index: 99;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 100%;
}

.card-space:hover .card-inner {
bottom: 5%;
opacity: 1;
}